/* [class*="col"]
{
  background-color: red;
  height: 200px;
} */
.no_list {
  list-style: none;
}
.text_right {
  text-align: right;
}
.text_center {
  text-align: center;
}
.menu {
  background-color: #2C3E50;
  height: 90px;
  vertical-align: middle;
  line-height: 90px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.menu .col-xs-9 a{
  color: white;
  font-size: 1.5em;
}
.menu_button {
  background-color: #1ABC9C;
}
.no_list li{
  display: inline;
  font-size: 1em;
  padding: 0 10px;
}
.no_list a{
  color:white;
}
/* /nav chiusa  */
/* banner */
.banner {
  background-color: #1ABC9C;
  height: 600px;
  position: relative;
  margin-top: 70px;
}
.logo_banner {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.children {
  padding-top: 30px;
  height: 300px;
}
h1 {
  font-size: 3em;
  padding-top: 30px;
  padding-bottom: 30px;
}
.logo_banner p{
  font-size: 1.5em;
  padding-top: 30px;
}
.line {
  height: 2px;
  width: 100px;
  background-color: white;
}

@media screen and (min-width: 992px) {
  .display_none {
    display: none;
  }
}
@media screen and (max-width: 992px) {
.dispay_none_lg {
  display: none;
}
}
